<!DOCTYPE html>
<html>
<body>
  <head>
    <meta charset="utf-8">
    <title>Questions</title>   
  </head>
    {% for p in paginator.page_range %}
      {% if p == page.number %}
      <li class="active">
      {% else %}
      <li>
      {% endif %}
        <a href="{{paginator.baseurl}}{{ p }}">{{ p }}</a>
      </li>
    {% endfor %}
    <br>
    Questions:
      {% for question in questions %}
      <p>      
          <a href="{{ question.get_url }}"> {{ question.title }} </a>
      </p> 
      {% endfor %}
</body>
</html>


